[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = "*"
inflect = "*"
python-dateutil = "*"
requests = "*"
emoji = "==0.3.9"
peewee = "*"
wtf-peewee = "==0.2.6"
python-decouple = "==3.1.0"
maya = "==0.3.2"
asyncpool = "*"
tgintegration = "*"
redis-collections = "*"
Pillow = "==4.2.1"
Flask = "*"
Flask-Autodoc = "*"
Flask-Security = "*"
Flask-Admin = "==1.5.0"
Markdown = "==2.6.9"
Pyrogram = "*"
tgcrypto = "*"
python-telegram-bot = "*"
#telegram = {git = "git://github.com/python-telegram-bot/python-telegram-bot.git", editable = true, ref = "V11-callbackmanager"}
dataclasses = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.6"
